@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=ZCOOL+XiaoWei&display=swap');

@import 'tailwindcss';

@theme {
    --font-serif: 'Source Serif 4', serif;
    --font-sans: 'Plus Jakarta Sans', sans-serif;
    --font-zh: 'ZCOOL XiaoWei', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

*:focus {
    outline: none;
}

html,
body {
    @apply bg-white;
}

.nav-btn {
    @apply font-medium outline rounded outline-gray-400 py-1 px-2 hover:outline-2;
}

.effect-underline {
    @apply relative inline-block;
}

.effect-underline:after {
    @apply content-[''] absolute left-0 inline-block
    h-4 w-full border-b border-current mt-2 opacity-0 transition-all duration-350 transform
    scale-x-0 scale-y-100;
}

.effect-underline:hover:after {
    @apply opacity-100 scale-100;
}

.zoom-btn {
    @apply w-10 h-10 bg-gray-400/50 hover:bg-gray-400/70 backdrop-blur-sm
    rounded flex items-center justify-center text-2xl font-bold transition-colors;
}

#date-slider {
    @apply appearance-none h-2 bg-gray-50/80 rounded-full;
}

#date-slider:hover {
    opacity: 1;
}

#date-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    background: var(--slider-thumb) center / contain no-repeat transparent;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#date-slider::-webkit-slider-thumb:hover {
    transform: scale(1.4);
}

#date-slider::-moz-range-thumb {
    width: 24px;
    height: 16px;
    border: 0;
    background: var(--slider-thumb) center / contain no-repeat transparent;
    box-shadow: none;
    cursor: pointer;
}
